html {
    background-image: url("../img/reg-back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Roboto, serif;
}

body{
    background-color: black;
    /*background: blanchedalmond;*/
}